body{
    width: 100%;
    height: 100%;
}

.top-inf-bar{
    background: #28292b;
    width: 100%;
    height: 35px;
    position: sticky;
    top: 0;
}

.social{
    padding-left: 450px;
}

.contact{
    display: inline-block;
    text-align: right;
    color: #fff;
    line-height: 35px;
    font-size: 12px;
    color: white;
}

.navbar{
    /* background-color: #fff;
    border: 1px solid black; */
    width: 100%;
    /* top: 35px; */
}

.navbar-fixed{
    position: fixed;
    background-color: #fff;
    background: white;
    width: 100%;
    margin-left: -20px;
    top:36px;
    height: 71px;
}

.logo{
    position: absolute;
    top: -25px;
    left: 18%;  
}

.navbar ul{
    list-style-type:none;
    position: relative;
    display: flex;
    background: white;
    left: 42%;
    height: 33px;
}

.navbar ul li{
    padding: 10px 0px 0px 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background: white;
    font-weight: bold;
    margin-top: 1.2%;
}

.navbar ul li a{
    color:#333;
}

.navbar ul li a:hover{
    text-decoration:none;
    cursor: pointer;
    color: #333;
}

.main-img{
    /* max-width: initial; */
    margin-top:3%;
}

.gallery{
    margin-left: 17%;
}

.list{
    position: absolute;
    height: 200px;
    display: inline-block;
}

.list ul{
    margin-left: -13px;
    margin-top: 9%;
    list-style: none;
}

.list ul li{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin-bottom: 0.2px;
}

.list ul li::before {
    content: "\2022";
    color: rgb(255, 197, 6);
    font-weight: bold;
    font-size: 22px;
    display: inline-block; 
    width: 15px;
    margin-left: -1em;
  }

.list ul li::after{
    margin-top: -550px;
}

.list-btn{
    position: absolute;
    top: 80%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    border: 1px solid #FF5A5F;
    background-color: #FF5A5F;
    color: white;
    padding: 3px 20px 3px 20px;
    margin-left: 7px;
}

.list-btn:hover{
    color:white;
    text-decoration: none;
}

.autumn-img{
    width: 100%;
    height: 200px;
}

.autumn ul{
    top: -160px;
    position: relative;
    list-style-type:none;
}

.autumn-header{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color:white;
    /* color: #fff; */
}

.autumn-paragraph{
    font-size: 16px;
    padding-top: 17px;
    text-align: center;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.autumn-btn{
    text-align: center;
    margin-top: 24px;
    display: block;
    width: 9%;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #FF5A5F;
    padding: 3px 20px 3px 20px;
    margin-left: 45%;
}

.autumn a{
    color:white;
}

.autumn a:hover{
    color:white;
    text-decoration: none;
}